#root{
    -fx-background-color: 
        linear-gradient(whitesmoke 70%, silver 100%);
}

#expression_text{
    -fx-font-size: 36pt;
    -fx-font-family: Calibri;
    -fx-text-fill: darkslategray;
}

.text-field{
    -fx-background-color: whitesmoke;
    -fx-border-color: darkgrey;
}

.text-field:focused{
    -fx-border-color: lightgrey;
    -fx-effect: dropshadow(gaussian,silver , 10, 0.5, 0, 0);
}
